{% extends "base.html" %}
{% block title %}{{ t('nav.map') }} – {{ t('app.title') }}{% endblock %}
{% block body_class %}full{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/maplibre-gl/maplibre-gl.css') }}">
<noscript><p class="flash error">{{ t('mapmode.needs_script') }}</p></noscript>
<div class="mapmode">
  <div id="map" aria-label="{{ t('nav.map') }}"></div>
</div>
<script type="application/json" id="map-data">{{ map_data|tojson }}</script>
<script src="{{ url_for('static', filename='vendor/maplibre-gl/maplibre-gl-csp.js') }}" defer></script>
<script src="{{ url_for('static', filename='map_layers.js') }}" defer></script>
<script src="{{ url_for('static', filename='map_view.js') }}" defer></script>
{% endblock %}
